<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:directBootAware="true"
        android:icon="@drawable/ic_hdmi"
        android:label="HDMI Xorg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".HdmiTileService"
            android:directBootAware="true"
            android:exported="true"
            android:icon="@drawable/ic_hdmi"
            android:label="HDMI Xorg"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <activity
            android:name=".DiagnosticsActivity"
            android:exported="true"
            android:label="HDMI Xorg diagnostics">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>
    </application>
</manifest>

